@import 'tailwindcss';

:root {
  --corner-smoothing: 1;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--theme-default) inset !important;
  }
}

@theme {
  --spacing: 0.25rem;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;

  --text-xs--letter-spacing: -0.015em;
  --text-sm--letter-spacing: -0.015em;
  --text-base--letter-spacing: -0.015em;
  --text-lg--letter-spacing: -0.02em;
  --text-xl--letter-spacing: -0.025em;
  --text-2xl--letter-spacing: -0.03em;
  --text-3xl--letter-spacing: -0.03em;
  --text-4xl--letter-spacing: -0.05em;
  --text-5xl--letter-spacing: -0.055em;
  --text-6xl--letter-spacing: -0.06em;
  --text-7xl--letter-spacing: -0.08em;
  --text-8xl--letter-spacing: -0.085em;
  --text-9xl--letter-spacing: -0.09em;
}

@theme {
  --default-transition-duration: 0.2s;

  --animate-ios-spinner: ios-spinner 1.2s linear infinite;
  --animate-shimmer: shimmer 2s infinite;

  --animate-fade-in: fade-in 0.25s cubic-bezier(0.32, 0.72, 0, 1);
  --animate-fade-out: fade-out 0.25s cubic-bezier(0.32, 0.72, 0, 1);

  --animate-popover-in: popover-in 0.3s cubic-bezier(0.32, 0.72, 0, 1);
  --animate-popover-out: popover-out 0.3s cubic-bezier(0.32, 0.72, 0, 1);

  --animate-dialog-in: dialog-in 0.3s cubic-bezier(0.32, 0.72, 0, 1);
  --animate-dialog-out: dialog-out 0.3s cubic-bezier(0.32, 0.72, 0, 1);

  @keyframes ios-spinner {
    0% {
      opacity: 0;
    }
    8% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes shimmer {
    100% {
      transform: translateX(200%);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes popover-in {
    0% {
      transform: scale(0.5);
      filter: blur(10px);
    }
    100% {
      transform: scale(1);
      filter: blur(0px);
    }
  }

  @keyframes popover-out {
    0% {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(0);
      filter: blur(10px);
    }
  }

  @keyframes dialog-in {
    0% {
      opacity: 0;
      filter: blur(10px);
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
      transform: scale(1);
    }
  }

  @keyframes dialog-out {
    0% {
      opacity: 1;
      filter: blur(0px);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      filter: blur(10px);
      transform: scale(0.95);
    }
  }
}

@layer components {
  .transition-transform-colors {
    transition-property: filter, transform, translate, scale, rotate, colors, opacity, color,
      background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from,
      --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--default-transition-duration);
  }
}

@theme {
  --color-background: var(--theme-background);
  --color-background-foreground: var(--theme-background-foreground);

  --color-foreground: var(--theme-foreground);
  --color-foreground-foreground: var(--theme-foreground-foreground);

  --color-border: var(--theme-border);
  --color-border-foreground: var(--theme-border-foreground);

  --color-outline: var(--theme-outline);
  --color-outline-foreground: var(--theme-outline-foreground);

  --color-content1: var(--theme-content1);
  --color-content2: var(--theme-content2);
  --color-content3: var(--theme-content3);
  --color-content4: var(--theme-content4);

  --color-default: var(--theme-default);
  --color-default-foreground: var(--theme-default-foreground);
  --color-default-50: var(--theme-default-50);
  --color-default-100: var(--theme-default-100);
  --color-default-200: var(--theme-default-200);
  --color-default-300: var(--theme-default-300);
  --color-default-400: var(--theme-default-400);
  --color-default-500: var(--theme-default-500);
  --color-default-600: var(--theme-default-600);
  --color-default-700: var(--theme-default-700);
  --color-default-800: var(--theme-default-800);
  --color-default-900: var(--theme-default-900);
  --color-default-950: var(--theme-default-950);

  --color-primary: var(--theme-primary);
  --color-primary-foreground: var(--theme-primary-foreground);
  --color-primary-50: var(--theme-primary-50);
  --color-primary-100: var(--theme-primary-100);
  --color-primary-200: var(--theme-primary-200);
  --color-primary-300: var(--theme-primary-300);
  --color-primary-400: var(--theme-primary-400);
  --color-primary-500: var(--theme-primary-500);
  --color-primary-600: var(--theme-primary-600);
  --color-primary-700: var(--theme-primary-700);
  --color-primary-800: var(--theme-primary-800);
  --color-primary-900: var(--theme-primary-900);
  --color-primary-950: var(--theme-primary-950);

  --color-danger: var(--theme-danger);
  --color-danger-foreground: var(--theme-danger-foreground);
  --color-danger-50: var(--theme-danger-50);
  --color-danger-100: var(--theme-danger-100);
  --color-danger-200: var(--theme-danger-200);
  --color-danger-300: var(--theme-danger-300);
  --color-danger-400: var(--theme-danger-400);
  --color-danger-500: var(--theme-danger-500);
  --color-danger-600: var(--theme-danger-600);
  --color-danger-700: var(--theme-danger-700);
  --color-danger-800: var(--theme-danger-800);
  --color-danger-900: var(--theme-danger-900);
  --color-danger-950: var(--theme-danger-950);

  --color-warning: var(--theme-warning);
  --color-warning-foreground: var(--theme-warning-foreground);
  --color-warning-50: var(--theme-warning-50);
  --color-warning-100: var(--theme-warning-100);
  --color-warning-200: var(--theme-warning-200);
  --color-warning-300: var(--theme-warning-300);
  --color-warning-400: var(--theme-warning-400);
  --color-warning-500: var(--theme-warning-500);
  --color-warning-600: var(--theme-warning-600);
  --color-warning-700: var(--theme-warning-700);
  --color-warning-800: var(--theme-warning-800);
  --color-warning-900: var(--theme-warning-900);
  --color-warning-950: var(--theme-warning-950);

  --color-success: var(--theme-success);
  --color-success-foreground: var(--theme-success-foreground);
  --color-success-50: var(--theme-success-50);
  --color-success-100: var(--theme-success-100);
  --color-success-200: var(--theme-success-200);
  --color-success-300: var(--theme-success-300);
  --color-success-400: var(--theme-success-400);
  --color-success-500: var(--theme-success-500);
  --color-success-600: var(--theme-success-600);
  --color-success-700: var(--theme-success-700);
  --color-success-800: var(--theme-success-800);
  --color-success-900: var(--theme-success-900);
  --color-success-950: var(--theme-success-950);
}
