@import 'tailwindcss';

@theme {
  --spacing: 0.25rem;

  --text-xs--letter-spacing: -0.015em;
  --text-sm--letter-spacing: -0.015em;
  --text-base--letter-spacing: -0.015em;
  --text-lg--letter-spacing: -0.02em;
  --text-xl--letter-spacing: -0.025em;
  --text-2xl--letter-spacing: -0.03em;
  --text-3xl--letter-spacing: -0.045em;
  --text-4xl--letter-spacing: -0.05em;
  --text-5xl--letter-spacing: -0.055em;
  --text-6xl--letter-spacing: -0.06em;
  --text-7xl--letter-spacing: -0.08em;
  --text-8xl--letter-spacing: -0.085em;
  --text-9xl--letter-spacing: -0.09em;
}

@theme {
  --color-background: var(--theme-background);
  --color-background-foreground: var(--theme-background-foreground);

  --color-foreground: var(--theme-foreground);
  --color-foreground-foreground: var(--theme-foreground-foreground);

  --color-border: var(--theme-border);
  --color-border-foreground: var(--theme-border-foreground);

  --color-default: var(--theme-default);
  --color-default-foreground: var(--theme-default-foreground);
  --color-default-50: var(--theme-default-50);
  --color-default-100: var(--theme-default-100);
  --color-default-200: var(--theme-default-200);
  --color-default-300: var(--theme-default-300);
  --color-default-400: var(--theme-default-400);
  --color-default-500: var(--theme-default-500);
  --color-default-600: var(--theme-default-600);
  --color-default-700: var(--theme-default-700);
  --color-default-800: var(--theme-default-800);
  --color-default-900: var(--theme-default-900);
  --color-default-950: var(--theme-default-950);
}
